/* banner.css */
@keyframes pulsate {
    0% {
      opacity: 0.3;
      transform: scale(0.8);
    }
    50% {
      opacity: 1;
      transform: scale(1);
    }
    100% {
      opacity: 0.3;
      transform: scale(0.8);
    }
  }
  
  .animation-line {
    /* width: 500px;
    height: 2px; */
    background: linear-gradient(270deg,#4fa9e3,#fbbe2b ,#4fa9e3);
    border-radius: 10px;
    animation: pulsate 3s infinite;
  }

  .animation-heading{
    background: linear-gradient(270deg,#ffffff,#fbbe2b ,#4f92e3);
    background-clip: text;
    /* -webkit-background-clip: text; */
    -webkit-text-fill-color: transparent;
    /* animation: animate 10s linear infinite; */
  }
  
  /* @keyframes animate{
    0%{
        background-position: 0%;
    }
    100%{
        background-position: 400%;
    }
  }
   */